nodered/data/flows.json
[{"id":"tab-dashboard","type":"tab","label":"Dashboard Temperatura","disabled":false,"info":"Polling InfluxDB ogni 5s — visualizza le ultime misure di tutti i sensori"},{"id":"tab-alerting","type":"tab","label":"Alerting","disabled":false,"info":"Controlla ogni 30s se la temperatura supera le soglie e invia email"},{"id":"tab-chaos","type":"tab","label":"Chaos Events","disabled":false,"info":"Riceve eventi HTTP POST dal chaos container e invia notifiche email"},{"id":"influxdb-cfg","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"iot","name":"InfluxDB IoT","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","rejectUnauthorized":false},{"id":"ui-tab-main","type":"ui_tab","name":"CoAP IoT","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui-group-chart","type":"ui_group","name":"Temperatura Sensori","tab":"ui-tab-main","order":1,"disp":true,"width":"12","collapse":false},{"id":"1bc648e7c328761b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"n-inject-poll","type":"inject","z":"tab-dashboard","name":"Ogni 5s","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["n-influxdb-query"]]},{"id":"n-influxdb-query","type":"influxdb in","z":"tab-dashboard","influxdb":"influxdb-cfg","name":"Query ultimi 2 min","query":"from(bucket: \"iot\") |> range(start: -5m) |> filter(fn: (r) => r._measurement == \"temperatura\" and r._field == \"value\")","rawOutput":false,"precision":"","retentionPolicy":"","org":"its","x":300,"y":100,"wires":[["n-fn-format-chart"]]},{"id":"n-fn-format-chart","type":"function","z":"tab-dashboard","name":"Formatta per grafico","func":"// *** IMPORTANTE: node-red-dashboard@3.x legge msg.timestamp (ms)\n// come asse X SOLO quando msg.payload è un numero puro.\n// {x,y} objects NON funzionano.\nvar points = msg.payload;\nif (!points || points.length === 0) return null;\n\npoints.forEach(function(p) {\n    var ts = new Date(p._time).getTime();\n    var val = parseFloat(p._value);\n    if (isNaN(val)) return;\n    node.send({\n        topic:     p.sensor_id || \"unknown\",\n        payload:   val,\n        timestamp: ts\n    });\n});\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":100,"wires":[["n-chart"]]},{"id":"n-chart","type":"ui_chart","z":"tab-dashboard","name":"Temperatura sensori","group":"ui-group-chart","order":1,"width":"12","height":"6","label":"Temperatura (°C)","chartType":"line","legend":true,"xformat":"HH:mm:ss","interpolate":"linear","nodata":"In attesa di dati...","dot":false,"ymin":"10","ymax":"40","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22"],"outputs":1,"useDifferentColor":false,"className":"","x":740,"y":100,"wires":[[]]},{"id":"n-inject-alert","type":"inject","z":"tab-alerting","name":"Ogni 30s","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["n-influxdb-alert"]]},{"id":"n-influxdb-alert","type":"influxdb in","z":"tab-alerting","influxdb":"influxdb-cfg","name":"Ultimo valore tutti i sensori","query":"from(bucket: \"iot\") |> range(start: -35s) |> filter(fn: (r) => r._measurement == \"temperatura\" and r._field == \"value\") |> last()","rawOutput":false,"precision":"","retentionPolicy":"","org":"its","x":320,"y":40,"wires":[["n-fn-check-thresholds"]]},{"id":"n-fn-check-thresholds","type":"function","z":"tab-alerting","name":"Controlla soglie","func":"// Soglie di allerta\nvar SOGLIA_ALTA = 30;  // °C\nvar SOGLIA_BASSA = 16; // °C\n\nvar points = msg.payload;\nif (!points || points.length === 0) return null;\n\nvar alerts = [];\npoints.forEach(function(p) {\n    var sid = p.sensor_id || 'unknown';\n    var val = parseFloat(p._value);\n    if (isNaN(val)) return;\n    \n    if (val > SOGLIA_ALTA) {\n        alerts.push('\\uD83D\\uDD34 ALTA: ' + sid + ' = ' + val.toFixed(2) + '\\u00B0C (soglia: ' + SOGLIA_ALTA + '\\u00B0C)');\n    } else if (val < SOGLIA_BASSA) {\n        alerts.push('\\uD83D\\uDD35 BASSA: ' + sid + ' = ' + val.toFixed(2) + '\\u00B0C (soglia: ' + SOGLIA_BASSA + '\\u00B0C)');\n    }\n});\n\nif (alerts.length === 0) return null;\n\nmsg.to = 'lab@its.local';\nmsg.from = 'iot-alert@coap-stack.local';\nmsg.subject = '\\u26A0\\uFE0F Allarme temperatura CoAP Stack (' + alerts.length + ' sensori)';\nmsg.payload = 'ALERT TEMPERATURA — CoAP Stack\\n' +\n    new Date().toISOString() + '\\n\\n' +\n    alerts.join('\\n') + '\\n\\n' +\n    'Controlla la dashboard: http://localhost:1880/ui';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":100,"wires":[["n-email-alert","n-debug-alert"]]},{"id":"n-email-alert","type":"e-mail","z":"tab-alerting","server":"mailhog-coap","port":"1025","authtype":"NONE","saslformat":false,"token":"oauth2Response.access_token","secure":false,"tls":false,"name":"mail@aaa.it","dname":"Invia alert email","x":760,"y":80,"wires":[]},{"id":"n-debug-alert","type":"debug","z":"tab-alerting","name":"Debug alert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":140,"wires":[]},{"id":"n-http-in-chaos","type":"http in","z":"tab-chaos","name":"POST /chaos/events","url":"/chaos/events","method":"post","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["n-fn-chaos-email"]]},{"id":"n-fn-chaos-email","type":"function","z":"tab-chaos","name":"Formatta email chaos","func":"var d = msg.payload || {};\nvar phase = d.phase || '?';\nvar eventType = d.event_type || 'unknown';\nvar container = d.container || 'unknown';\nvar duration = d.duration || '?';\n\nvar emoji = phase === 'DROP' ? '\\uD83D\\uDD34' : '\\u2705';\n\nmsg.to = 'lab@its.local';\nmsg.from = 'chaos@coap-stack.local';\nmsg.subject = emoji + ' Chaos CoAP: ' + phase + ' \\u2014 ' + eventType;\n\nif (phase === 'DROP') {\n    msg.payload = 'GUASTO SIMULATO — CoAP Stack\\n\\n' +\n        'Evento:    ' + eventType + '\\n' +\n        'Container: ' + container + '\\n' +\n        'Durata:    ' + duration + 's\\n\\n' +\n        'Cosa osservare:\\n' +\n        '  - [OFFLINE] nei log del sensore\\n' +\n        '  - [BUFFER]  messaggi in attesa nel buffer locale\\n' +\n        '  - InfluxDB smette di ricevere nuovi punti\\n' +\n        '  - Gateway non riceve pi\\u00F9 POST CoAP\\n\\n' +\n        'Comando per verificare:\\n' +\n        '  docker compose logs -f ' + container;\n} else {\n    msg.payload = 'RIPRISTINO RETE — CoAP Stack\\n\\n' +\n        'Evento:    ' + eventType + '\\n' +\n        'Container: ' + container + '\\n\\n' +\n        'Cosa verificare:\\n' +\n        '  - [BUFFER] nei log del sensore (messaggi in coda inviati)\\n' +\n        '  - [FLUSH]  burst di dati su InfluxDB\\n' +\n        '  - Il grafico mostra un gap seguito da dati compatti\\n\\n' +\n        'Questo dimostra la resilienza del buffer locale CoAP!';\n}\n\nmsg.chaos = d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":100,"wires":[["n-email-chaos","n-debug-chaos","n-http-resp-chaos"]]},{"id":"n-email-chaos","type":"e-mail","z":"tab-chaos","server":"mailhog-coap","port":"1025","authtype":"NONE","saslformat":false,"token":"oauth2Response.access_token","secure":false,"tls":false,"name":"aaa@aa.it","dname":"Invia notifica chaos","x":620,"y":60,"wires":[]},{"id":"n-debug-chaos","type":"debug","z":"tab-chaos","name":"Debug chaos event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"chaos","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"n-http-resp-chaos","type":"http response","z":"tab-chaos","name":"HTTP 200 OK","statusCode":"200","headers":{},"x":620,"y":180,"wires":[]}]